body {
    background-color: #303235;
    color: #ffffff;
    font-family: 'JetBrains Mono', 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Menu */
nav {
    background-color: #303235;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dynamic-content {
    background-color: #303235; 
    padding: 50px 20px;
    margin: 20px auto;
    text-align: center;
    max-width: 900px;
    max-height: 200px;
}

#dynamic-content h1 {
    color: #e2b85c;
}

#dynamic-content p {
    color: #505455;
    font-size: 1.2em;
}

.logo {
    height: 40px;
    margin-left: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    margin-left: auto;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #505455;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.4s ease;
}

nav ul li a:hover {
    color: #d4d2ca;
}

section {
    padding: 50px 20px;
    background-color: #3b3e42; /* Pozadí pro sekce */
}

h1 {
    color: #e2b85c;
}

p {
    font-size: 1.2em;
}

#githubActivityChart {
    width: 100%;
    height: 400px; /* Velikost grafu */
}

/* Footer styl */
footer {
    background-color: #303235;
    padding: 20px;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-link {
    background-color: #505455;
    color: #303235;
    padding: 15px 40px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 9px;
    transition: all 0.4s ease;
}

.social-link:hover {
    background-color: #949391;
    color: #303235;
}

#github-container {
    width: 90%;  /* Aby byl kontejner flexibilnější */
    max-width: 900px;
    margin: 30px auto;
    background-color: #303235;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

#github-container iframe {
    width: 100%;
    height: 500px;
    max-height: 80vh; /* Zabrání tomu, aby iframe přetékal na malých obrazovkách */
    border: none;
}

/* Responzivní úpravy pro mobil */
@media (max-width: 768px) {
    #github-container {
        width: 100%;
        padding: 10px;
    }

    #github-container iframe {
        height: 350px;  /* Menší výška na mobilu */
    }
}

/* Media queries pro responsivní design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .logo {
        margin-left: 0;
    }

    nav ul {
        justify-content: center;
        margin-left: 0;
        margin-top: 10px;
    }

    section {
        padding: 30px 10px; /* Menší padding pro mobilní verzi */
    }

    #github-container {
        width: 90%; /* Graf bude větší na mobilních zařízeních */
        margin-top: 20px;
    }
}
